@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  background-color: #f3f4f6;
}

#bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  background-color: #fff;
  opacity: 0.5;
  background-size: contain;
  background-image: linear-gradient(#7dd3fc 2.2px, transparent 2.2px),
    linear-gradient(90deg, #7dd3fc 2.2px, transparent 2.2px),
    linear-gradient(#7dd3fc 1.1px, transparent 1.1px),
    linear-gradient(90deg, #7dd3fc 1.1px, #fff 1.1px);
  background-size:
    55px 55px,
    55px 55px,
    11px 11px,
    11px 11px;
  background-position:
    -2.2px -2.2px,
    -2.2px -2.2px,
    -1.1px -1.1px,
    -1.1px -1.1px;
}

.writing-mode-vertical {
  writing-mode: vertical-rl;
}
